In [4]:
import pandas as pd
cars=pd.read_csv(r'D:\ML\titanic\mtcars.csv-master\mt\mtcars.csv')

In [5]:
cars.head()

,Unnamed: 0,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,5
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,5
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [6]:
cars.mpg=cars.mpg.astype(str)

In [7]:
type(cars)

pandas.core.frame.DataFrame

In [8]:
cars.head(10)

,Unnamed: 0,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,5
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,5
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
5,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
6,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
7,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
8,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
9,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4

In [9]:
cars.tail()

,Unnamed: 0,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
27,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.9,1,1,5,2
28,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.5,0,1,5,4
29,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.5,0,1,5,6
30,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.6,0,1,5,8
31,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.6,1,1,4,2

In [10]:
cars.tail(10)

,Unnamed: 0,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
22,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
23,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
24,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
25,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1
26,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
27,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
28,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
29,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6
30,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
31,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2

In [13]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 12 columns):
Unnamed: 0    32 non-null object
mpg           32 non-null object
cyl           32 non-null int64
disp          32 non-null float64
hp            32 non-null int64
drat          32 non-null float64
wt            32 non-null float64
qsec          32 non-null float64
vs            32 non-null int64
am            32 non-null int64
gear          32 non-null int64
carb          32 non-null int64
dtypes: float64(4), int64(6), object(2)
memory usage: 3.1+ KB

In [14]:
cars.mean()

cyl       6.187500
disp    230.721875
hp      146.687500
drat      3.596563
wt        3.217250
qsec     17.848750
vs        0.437500
am        0.406250
gear      3.687500
carb      2.875000
dtype: float64

In [15]:
cars.describe()

,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
count,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000
mean,6.187500,230.721875,146.687500,3.596563,3.217250,17.848750,0.437500,0.406250,3.687500,2.875000
std,1.785922,123.938694,68.562868,0.534679,0.978457,1.786943,0.504016,0.498991,0.737804,1.680054
min,4.000000,71.100000,52.000000,2.760000,1.513000,14.500000,0.000000,0.000000,3.000000,1.000000
25%,4.000000,120.825000,96.500000,3.080000,2.581250,16.892500,0.000000,0.000000,3.000000,2.000000
50%,6.000000,196.300000,123.000000,3.695000,3.325000,17.710000,0.000000,0.000000,4.000000,2.000000
75%,8.000000,326.000000,180.000000,3.920000,3.610000,18.900000,1.000000,1.000000,4.000000,4.000000
max,8.000000,472.000000,335.000000,4.930000,5.424000,22.900000,1.000000,1.000000,5.000000,8.000000

In [18]:
cars.shape

(32, 12)

In [19]:
cars.count

<bound method DataFrame.count of              Unnamed: 0   mpg  cyl   disp   hp  drat     wt   qsec  vs  am  \
0             Mazda RX4  21.0    6  160.0  110  3.90  2.620  16.46   0   1
1         Mazda RX4 Wag  21.0    6  160.0  110  3.90  2.875  17.02   0   1
2            Datsun 710  22.8    4  108.0   93  3.85  2.320  18.61   1   1
3        Hornet 4 Drive  21.4    6  258.0  110  3.08  3.215  19.44   1   0
4     Hornet Sportabout  18.7    8  360.0  175  3.15  3.440  17.02   0   0
5               Valiant  18.1    6  225.0  105  2.76  3.460  20.22   1   0
6            Duster 360  14.3    8  360.0  245  3.21  3.570  15.84   0   0
7             Merc 240D  24.4    4  146.7   62  3.69  3.190  20.00   1   0
8              Merc 230  22.8    4  140.8   95  3.92  3.150  22.90   1   0
9              Merc 280  19.2    6  167.6  123  3.92  3.440  18.30   1   0
10            Merc 280C  17.8    6  167.6  123  3.92  3.440  18.90   1   0
11           Merc 450SE  16.4    8  275.8  180  3.07  4.070  17.40   0   0
12           Merc 450SL  17.3    8  275.8  180  3.07  3.730  17.60   0   0
13          Merc 450SLC  15.2    8  275.8  180  3.07  3.780  18.00   0   0
14   Cadillac Fleetwood  10.4    8  472.0  205  2.93  5.250  17.98   0   0
15  Lincoln Continental  10.4    8  460.0  215  3.00  5.424  17.82   0   0
16    Chrysler Imperial  14.7    8  440.0  230  3.23  5.345  17.42   0   0
17             Fiat 128  32.4    4   78.7   66  4.08  2.200  19.47   1   1
18          Honda Civic  30.4    4   75.7   52  4.93  1.615  18.52   1   1
19       Toyota Corolla  33.9    4   71.1   65  4.22  1.835  19.90   1   1
20        Toyota Corona  21.5    4  120.1   97  3.70  2.465  20.01   1   0
21     Dodge Challenger  15.5    8  318.0  150  2.76  3.520  16.87   0   0
22          AMC Javelin  15.2    8  304.0  150  3.15  3.435  17.30   0   0
23           Camaro Z28  13.3    8  350.0  245  3.73  3.840  15.41   0   0
24     Pontiac Firebird  19.2    8  400.0  175  3.08  3.845  17.05   0   0
25            Fiat X1-9  27.3    4   79.0   66  4.08  1.935  18.90   1   1
26        Porsche 914-2  26.0    4  120.3   91  4.43  2.140  16.70   0   1
27         Lotus Europa  30.4    4   95.1  113  3.77  1.513  16.90   1   1
28       Ford Pantera L  15.8    8  351.0  264  4.22  3.170  14.50   0   1
29         Ferrari Dino  19.7    6  145.0  175  3.62  2.770  15.50   0   1
30        Maserati Bora  15.0    8  301.0  335  3.54  3.570  14.60   0   1
31           Volvo 142E  21.4    4  121.0  109  4.11  2.780  18.60   1   1

    gear  carb
0      4     5
1      4     5
2      4     1
3      3     1
4      3     2
5      3     1
6      3     4
7      4     2
8      4     2
9      4     4
10     4     4
11     3     3
12     3     3
13     3     3
14     3     4
15     3     4
16     3     4
17     4     1
18     4     2
19     4     1
20     3     1
21     3     2
22     3     2
23     3     4
24     3     2
25     4     1
26     5     2
27     5     2
28     5     4
29     5     6
30     5     8
31     4     2  >

In [29]:
cars=cars.rename(columns={'Unnamed: 0':'model'})
cars

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,5
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,5
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
5,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
6,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
7,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
8,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
9,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4
10,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4
11,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
12,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3
13,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
14,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
15,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
16,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
17,Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1
18,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
19,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
20,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
21,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
22,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
23,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
24,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
25,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1
26,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
27,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
28,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
29,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6
30,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
31,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2

In [21]:
cars.count()

Unnamed: 0    32
mpg           32
cyl           32
disp          32
hp            32
drat          32
wt            32
qsec          32
vs            32
am            32
gear          32
carb          32
dtype: int64

In [23]:
cars.describe

<bound method NDFrame.describe of              Unnamed: 0   mpg  cyl   disp   hp  drat     wt   qsec  vs  am  \
0             Mazda RX4  21.0    6  160.0  110  3.90  2.620  16.46   0   1
1         Mazda RX4 Wag  21.0    6  160.0  110  3.90  2.875  17.02   0   1
2            Datsun 710  22.8    4  108.0   93  3.85  2.320  18.61   1   1
3        Hornet 4 Drive  21.4    6  258.0  110  3.08  3.215  19.44   1   0
4     Hornet Sportabout  18.7    8  360.0  175  3.15  3.440  17.02   0   0
5               Valiant  18.1    6  225.0  105  2.76  3.460  20.22   1   0
6            Duster 360  14.3    8  360.0  245  3.21  3.570  15.84   0   0
7             Merc 240D  24.4    4  146.7   62  3.69  3.190  20.00   1   0
8              Merc 230  22.8    4  140.8   95  3.92  3.150  22.90   1   0
9              Merc 280  19.2    6  167.6  123  3.92  3.440  18.30   1   0
10            Merc 280C  17.8    6  167.6  123  3.92  3.440  18.90   1   0
11           Merc 450SE  16.4    8  275.8  180  3.07  4.070  17.40   0   0
12           Merc 450SL  17.3    8  275.8  180  3.07  3.730  17.60   0   0
13          Merc 450SLC  15.2    8  275.8  180  3.07  3.780  18.00   0   0
14   Cadillac Fleetwood  10.4    8  472.0  205  2.93  5.250  17.98   0   0
15  Lincoln Continental  10.4    8  460.0  215  3.00  5.424  17.82   0   0
16    Chrysler Imperial  14.7    8  440.0  230  3.23  5.345  17.42   0   0
17             Fiat 128  32.4    4   78.7   66  4.08  2.200  19.47   1   1
18          Honda Civic  30.4    4   75.7   52  4.93  1.615  18.52   1   1
19       Toyota Corolla  33.9    4   71.1   65  4.22  1.835  19.90   1   1
20        Toyota Corona  21.5    4  120.1   97  3.70  2.465  20.01   1   0
21     Dodge Challenger  15.5    8  318.0  150  2.76  3.520  16.87   0   0
22          AMC Javelin  15.2    8  304.0  150  3.15  3.435  17.30   0   0
23           Camaro Z28  13.3    8  350.0  245  3.73  3.840  15.41   0   0
24     Pontiac Firebird  19.2    8  400.0  175  3.08  3.845  17.05   0   0
25            Fiat X1-9  27.3    4   79.0   66  4.08  1.935  18.90   1   1
26        Porsche 914-2  26.0    4  120.3   91  4.43  2.140  16.70   0   1
27         Lotus Europa  30.4    4   95.1  113  3.77  1.513  16.90   1   1
28       Ford Pantera L  15.8    8  351.0  264  4.22  3.170  14.50   0   1
29         Ferrari Dino  19.7    6  145.0  175  3.62  2.770  15.50   0   1
30        Maserati Bora  15.0    8  301.0  335  3.54  3.570  14.60   0   1
31           Volvo 142E  21.4    4  121.0  109  4.11  2.780  18.60   1   1

    gear  carb
0      4     5
1      4     5
2      4     1
3      3     1
4      3     2
5      3     1
6      3     4
7      4     2
8      4     2
9      4     4
10     4     4
11     3     3
12     3     3
13     3     3
14     3     4
15     3     4
16     3     4
17     4     1
18     4     2
19     4     1
20     3     1
21     3     2
22     3     2
23     3     4
24     3     2
25     4     1
26     5     2
27     5     2
28     5     4
29     5     6
30     5     8
31     4     2  >

In [2]:
oyo.OLD PRICE =oyo.OLD PRICE.fillna(oyo.OLD PRICE.mean())
oyo

SyntaxError: invalid syntax (<ipython-input-2-39d04d64d7d3>, line 1)

# Find correlation

In [31]:
df=cars[['mpg','cyl','disp','hp','drat','wt','qsec','vs','am','gear','carb']].corr()
df

,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
cyl,1.000000,0.902033,0.832447,-0.699938,0.782496,-0.591242,-0.810812,-0.522607,-0.492687,0.502614
disp,0.902033,1.000000,0.790949,-0.710214,0.887980,-0.433698,-0.710416,-0.591227,-0.555569,0.357817
hp,0.832447,0.790949,1.000000,-0.448759,0.658748,-0.708223,-0.723097,-0.243204,-0.125704,0.700320
drat,-0.699938,-0.710214,-0.448759,1.000000,-0.712441,0.091205,0.440278,0.712711,0.699610,-0.065492
wt,0.782496,0.887980,0.658748,-0.712441,1.000000,-0.174716,-0.554916,-0.692495,-0.583287,0.392663
qsec,-0.591242,-0.433698,-0.708223,0.091205,-0.174716,1.000000,0.744535,-0.229861,-0.212682,-0.654743
vs,-0.810812,-0.710416,-0.723097,0.440278,-0.554916,0.744535,1.000000,0.168345,0.206023,-0.580952
am,-0.522607,-0.591227,-0.243204,0.712711,-0.692495,-0.229861,0.168345,1.000000,0.794059,0.101007
gear,-0.492687,-0.555569,-0.125704,0.699610,-0.583287,-0.212682,0.206023,0.794059,1.000000,0.279758
carb,0.502614,0.357817,0.700320,-0.065492,0.392663,-0.654743,-0.580952,0.101007,0.279758,1.000000

# mainipulation

In [32]:
cars.iloc[:,4]

0     110
1     110
2      93
3     110
4     175
5     105
6     245
7      62
8      95
9     123
10    123
11    180
12    180
13    180
14    205
15    215
16    230
17     66
18     52
19     65
20     97
21    150
22    150
23    245
24    175
25     66
26     91
27    113
28    264
29    175
30    335
31    109
Name: hp, dtype: int64

In [33]:
cars.loc[:,'mpg']

0     21.0
1     21.0
2     22.8
3     21.4
4     18.7
5     18.1
6     14.3
7     24.4
8     22.8
9     19.2
10    17.8
11    16.4
12    17.3
13    15.2
14    10.4
15    10.4
16    14.7
17    32.4
18    30.4
19    33.9
20    21.5
21    15.5
22    15.2
23    13.3
24    19.2
25    27.3
26    26.0
27    30.4
28    15.8
29    19.7
30    15.0
31    21.4
Name: mpg, dtype: object

In [35]:
cars['am']=1

In [36]:
cars

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,5
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,5
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,1,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,1,3,2
5,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,1,3,1
6,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,1,3,4
7,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,1,4,2
8,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,1,4,2
9,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,1,4,4
10,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,1,4,4
11,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,1,3,3
12,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,1,3,3
13,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,1,3,3
14,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,1,3,4
15,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,1,3,4
16,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,1,3,4
17,Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1
18,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
19,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
20,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,1,3,1
21,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,1,3,2
22,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,1,3,2
23,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,1,3,4
24,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,1,3,2
25,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1
26,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
27,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
28,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
29,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6
30,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
31,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2

In [43]:
f= lambda x: x*2
cars['2am']=cars['am'].apply(f)
cars

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,2am
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,2,4,5,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,2,4,5,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,2,4,1,4
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,2,3,1,4
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,2,3,2,4
5,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,2,3,1,4
6,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,2,3,4,4
7,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,2,4,2,4
8,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,2,4,2,4
9,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,2,4,4,4
10,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,2,4,4,4
11,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,2,3,3,4
12,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,2,3,3,4
13,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,2,3,3,4
14,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,2,3,4,4
15,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,2,3,4,4
16,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,2,3,4,4
17,Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,2,4,1,4
18,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,2,4,2,4
19,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,2,4,1,4
20,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,2,3,1,4
21,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,2,3,2,4
22,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,2,3,2,4
23,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,2,3,4,4
24,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,2,3,2,4
25,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,2,4,1,4
26,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,2,5,2,4
27,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,2,5,2,4
28,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,2,5,4,4
29,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,2,5,6,4
30,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,2,5,8,4
31,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,2,4,2,4

In [48]:
cars.sort_values(by='cyl')
cars.sort_values(by='cyl',ascending=False)

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,2am
16,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,2,3,4,4
30,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,2,5,8,4
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,2,3,2,4
28,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,2,5,4,4
6,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,2,3,4,4
24,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,2,3,2,4
23,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,2,3,4,4
22,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,2,3,2,4
21,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,2,3,2,4
11,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,2,3,3,4
12,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,2,3,3,4
13,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,2,3,3,4
14,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,2,3,4,4
15,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,2,3,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,2,4,5,4
29,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,2,5,6,4
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,2,4,5,4
10,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,2,4,4,4
9,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,2,4,4,4
5,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,2,3,1,4
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,2,3,1,4
17,Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,2,4,1,4
18,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,2,4,2,4
19,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,2,4,1,4
20,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,2,3,1,4
8,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,2,4,2,4
7,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,2,4,2,4
25,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,2,4,1,4
26,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,2,5,2,4
27,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,2,5,2,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,2,4,1,4
31,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,2,4,2,4

# condition true and false

In [50]:
f=cars['cyl']>6

In [51]:
f

0     False
1     False
2     False
3     False
4      True
5     False
6      True
7     False
8     False
9     False
10    False
11     True
12     True
13     True
14     True
15     True
16     True
17    False
18    False
19    False
20    False
21     True
22     True
23     True
24     True
25    False
26    False
27    False
28     True
29    False
30     True
31    False
Name: cyl, dtype: bool

In [53]:
f2=(cars["cyl"]>6) & (cars['hp']>200)
filter_review =  cars[f2]
filter_review

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,2am
6,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,2,3,4,4
14,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,2,3,4,4
15,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,2,3,4,4
16,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,2,3,4,4
23,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,2,3,4,4
28,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,2,5,4,4
30,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,2,5,8,4